{% extends "layout.html" %}

{% block title %}ls
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="max-width:70%;margin:auto">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Shares</th>
                <th class="text-start">Operation</th>
                <th class="text-start">Price</th>
                <th class="text-end">Quantity</th>
                <th class="text-end">Total</th>
                <th class="text-end">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td class="text-start">{{ trade.symbol }}</td>
                <td class="text-start">{{ trade.symbol }}</td>
                <td class="text-start">{{ trade.buy_sell }}</td>
                <td class="text-start">{{ trade.unit_cost|usd }}</td>
                <td class="text-end">{{ trade.quantity }}</td>
                <td class="text-end">{{ (trade.quantity * trade.unit_cost) |usd }}</td>
                <td class="text-end">{{ trade.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
